.samo_container span.icon.pt, .samo_container span.icon.hp, .samo_container span.icon.uf {background-size:contain;}
.samo_container span.icon.hp.hp_57 {background-image: url('../hotelparam/hp_57_194525.png');}
.samo_container span.icon.hp.hp_58 {background-image: url('../hotelparam/hp_58_194526.png');}
.samo_container span.icon.hp.hp_59 {background-image: url('../hotelparam/hp_59_194527.png');}
.samo_container span.icon.hp.hp_60 {background-image: url('../hotelparam/hp_60_194528.png');}
.samo_container span.icon.hp.hp_61 {background-image: url('../hotelparam/hp_61_194529.png');}
