#freight_time .n1 {
    width: 20%;
}

#freight_time .resultset{
    margin: auto;
    width: 80%;
}

#freight_time table.res{
    border: none !important;
}

#freight_time th.target {
    font-weight: bold;
    background: none;
    border: none !important;
    text-align: center;
    font-size: 0.8em;
}